/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ------------------------------------ SMALL SCREENS ------------------------------------ */
* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

.container {
	font-size: 2rem;
	font-family: 'Lato', sans-serif;
}

section {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 2%;
}

.top-section {
	padding-top: 10rem;
}

h1 {
	font-size: 4rem;
}

h1,h2,h3,h4 {
	margin: 20px 0;
}

/* ---------- HEADER ----------  */

.header-wrapper {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background: #fff;
	position: fixed;
	width: 100%;
}

header {
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1000px;
	padding: 0 2%;
}

header nav ul {
	display: flex;
	justify-content: center;
}

header a {
	text-decoration: none;
	color: #000;
	font-size: 1.6rem;
	display: block;

	text-align: center;
	padding: 1.5rem;
}

header nav ul li a:hover {
	border-bottom: 2px solid #8d8594;
}

.logo {
	font-family: 'Zilla Slab', serif;
	font-size: 2.4rem;
	color: #858470;
	text-align: center;
}

/* ---------- BANNER ----------  */

.banner-wrapper {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../images/banner.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
}

.banner {
	color: #fff;
}

.banner h1 {
	font-family: 'Zilla Slab', serif;
	font-size: 4.5rem;
	margin: 5rem 0 1rem 0;
}

.banner button {
	border: none;
	font-size: 1.6rem;
	padding: 1rem;
	border-radius: 3px;
	background-color: #8d8594;
	cursor: pointer;
	margin: 2.5rem 0;
	color: #fff;
}

.banner button:hover {

}

/* ---------- VERBS ----------  */

.verbs-wrapper {
	background-color: #8d8594;
}

.verbs {
	justify-content: space-between;
}

.verbs div {
	color: #fff;
	text-align: center;
	padding: 3rem 0;
}

.verbs div h2 {
	font-family: 'Zilla Slab', serif;
	font-size: 2.4rem;
}

.verbs div i {
	font-size: 3.5rem;
}

.verbs div p {
	font-size: 1.6rem;
}

/* ---------- SERVICES ----------  */

.services-wrapper {
	background-color: #f0f0f0;
}

.services {
	padding-top: 0.5rem;
}

.services h1 {
	text-align: center;
	margin: 3rem 0;
}

.services figure {
	background-color: #fff;
	margin-bottom: 2.5rem;
}

.services figure img {
	width: 100%;
}

.services figcaption {
	padding: 0 4%;
}

.services figcaption h2 {
	font-family: 'Zilla Slab', serif;
}

.services figcaption p {
	font-size: 1.6rem;
}

.services figcaption a {
	font-size: 1.4rem;
	border: none;
	text-decoration: none;
	display: block;
	padding: 4rem 0 2rem 0;
}

/* ------------------------------------ LARGE SCREENS ------------------------------------ */

@media only screen and (min-width: 500px) {
	.top-section {
		padding-top: 7rem;
	}

	/* ---------- HEADER ----------  */

	header {
		display: flex;
	}

	header a {
		margin: 1.6rem 0 1.6rem 1.6rem;
		padding: 0.5rem 0;
	}

	.logo {
		margin: 1.6rem 1.6rem 1.6rem 0;
	}

	/* ---------- BANNER ----------  */

	.banner-wrapper {
		background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../images/banner.jpg");
		
	}

	.banner {
		height: 400px;
	}

	.banner p {
		max-width: 75%;
	}

	/* ---------- VERBs ----------  */

	.verbs {
		display: flex;
	}

	/* ---------- SERVICES ----------  */

	.services div {
		display: flex;
		justify-content: space-between;
	}

	.services figure {
		width: 32%;
	}
}