/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start your code here: */
html {
	font-size: 62.5%;
}

.container {
	font-size: 2rem;
	font-family: 'Lato', sans-serif;
}

section {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 2%;
}

section:first-of-type {
	padding-top: 10rem;
}

h1 {
	font-size: 4rem;
}

h1,h2,h3,h4 {
	margin: 20px 0;
}

/* ---------- HEADER ----------  */

.header-wrapper {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	position: fixed;
	width: 100%;
}

header {
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1000px;
	padding: 0 2%;
}

header nav ul {
	display: flex;
	justify-content: center;
}

header a {
	text-decoration: none;
	color: #000;
	font-size: 1.6rem;
	display: block;

	text-align: center;
	padding: 1.5rem;
}

header nav ul li a:hover {
	border-bottom: 2px solid #8d8594;
}

.logo {
	font-family: 'Handlee', cursive;
	font-size: 2.4rem;
	color: #858470;
	text-align: center;
}

@media only screen and (min-width: 500px) {
	section:first-of-type {
		padding-top: 7rem;
	}


	header {
		display: flex;
	}

	header a {
		margin: 1.6rem 0 1.6rem 1.6rem;
		padding: 0.5rem 0;
	}

	.logo {
		margin: 1.6rem 1.6rem 1.6rem 0;
	}
}